@import "tailwindcss";

@theme {
  --animate-fade-in-up: fade-in-up 0.7s ease-out forwards;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Base fade-in class */
.fade-in-section {
  animation: fade-in-up 0.8s ease-out forwards;
}

/* Hide scrollbar for horizontal scrolling sections */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}